<ion-content>

  <app-menu-galeria></app-menu-galeria>

  <p id="titulo">Galeria</p>

  <ion-card>
      <ion-card-content>
          <ion-row>
              <ion-col size="3">
                <ion-searchbar placeholder="Busqueda" (ionInput)="handleInput($event)"></ion-searchbar>
              </ion-col>
              <ion-col size="3">
                  <ion-select label="Tema" label-placement="floating" fill="outline" (ionChange)="handleSelectTema($event)">
                    <ion-select-option *ngFor="let tema of temas" [value]="tema">{{tema}}</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col size="3">
                  <ion-select label="Tipo" label-placement="floating" fill="outline" (ionChange)="handleSelectTipo($event)">
                    <ion-select-option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col offset="2">
                    <ion-button id="nuevaGaleria" (click)="setOpenGaleria(true)">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
              </ion-col>
          </ion-row>

          <ion-modal trigger="nuevaGaleria" [isOpen]="isModalOpenGaleria">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Nueva Multimedia</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpenGaleria(false)">Cerrar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-input placeholder="Titulo" [(ngModel)]="setMultmedia.titulo"></ion-input><br>

                <ion-select label="Tema" label-placement="floating" fill="outline" [(ngModel)]="setMultmedia.tema">
                  <ion-select-option *ngFor="let tema of temas" [value]="tema">{{tema}}</ion-select-option>
                </ion-select>
                
                <div class="agregarMultimedia">
                  <ion-button>
                    <label for="subirImagen">
                      <ion-icon name="add-outline"></ion-icon>
                    </label>
                    <input (change)="cambiarImagen($event)" type="file" accept="image/*,video/*" id="subirImagen"/>
                  </ion-button>
                </div>
                <div class="vistaPrevia">
                  <img [alt]="setMultmedia.titulo" [src]="setMultmedia.foto" *ngIf="setMultmedia.tipo == 'Imagen'">
                  <video [src]="setMultmedia.foto" muted *ngIf="setMultmedia.tipo == 'Video'" id="videoGuardar"></video>
                </div>
                <div class="botonAgregarMultimedia">
                  <ion-button *ngIf="botonGuardar" (click)="subirMultimedia()">Subir</ion-button>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
                <ion-grid>
                    <ion-row>
                      <ng-container *ngFor="let multimediaA of resultados">
                        <ng-container *ngIf="multimediaA.tipo === 'Imagen'">
                          <ion-col size="4" id="imagen" (click)="setOpenImagen(true, multimediaA)">
                            <img [alt]="multimediaA.titulo" [src]="multimediaA.foto">
                          </ion-col>
                        </ng-container>
                        <ng-container *ngIf="multimediaA.tipo === 'Video'">
                          <ion-col size="4" id="video" (click)="setOpenVideo(true, multimediaA)">
                            <video [src]="multimediaA.foto" muted type="video/*"></video>
                          </ion-col>
                        </ng-container>
                      </ng-container>
                    </ion-row>
                  </ion-grid>

                  <ion-modal [canDismiss]="!isModalOpenImagen" [isOpen]="isModalOpenImagen" class="imagenMostrar">
                    <ng-template>
                      <ion-content>
                        <div class="iconoContainer">
                          <ion-icon name="close-outline" size="large" (click)="setOpenImagen(false, multimedia)"></ion-icon>
                        </div>
                        <div class="imagenContainer">
                          <img [alt]="multimedia.titulo" [src]="multimedia.foto" id="imagenMostrado">
                          <p id="tituloModal">{{multimedia.titulo}}</p>
                          <p id="autor">{{multimedia.autor}}</p>
                          <p id="fecha">{{multimedia.fecha}}</p>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>

                  <ion-modal [canDismiss]="!isModalOpenVideo" [isOpen]="isModalOpenVideo" class="imagenMostrar">
                    <ng-template>
                      <ion-content>
                        <div class="iconoContainer">
                          <ion-icon name="close-outline" size="large" (click)="setOpenVideo(false, multimedia)"></ion-icon>
                        </div>
                        <div class="videoContainer">
                          <video [src]="multimedia.foto" type="video/*" controls autoplay id="videoSeleccionado"></video>
                          <p id="tituloModal">{{multimedia.titulo}}</p>
                          <p id="autor">{{multimedia.autor}}</p>
                          <p id="fecha">{{multimedia.fecha}}</p>
                        </div>  
                      </ion-content>
                    </ng-template>
                  </ion-modal>
      </ion-card-content>
  </ion-card>

</ion-content>