#titulo {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

#imagen > img  {

    aspect-ratio: 1.7;
    object-fit: contain;
    width: 100%;
    height: 90%;

}

#video > video  {

    aspect-ratio: 1.7;
    object-fit: contain;
    width: 100%;
    height: 90%;

}

.imagenMostrar {

    --width: 90%;
    --height: 90%;

}


.videoContainer {
    
    display: flex;
    justify-content: center;
    align-items: center;

}

#videoSeleccionado {
    
    width: 85%;

}

.imagenContainer {

    display: flex;
    justify-content: center;
    align-items: center;

}

.imagenContainer > #autor {

    position: absolute;
    left: 140px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.1);;
    padding: 10px;
    border-radius: 21px;

}

.imagenContainer > #fecha {

    position: absolute;
    left: 1000px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.1);;
    padding: 10px;
    border-radius: 21px;

}

.imagenContainer > #tituloModal {

    position: absolute;
    bottom: 500px;
    left: 144px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 21px;
    
}

.videoContainer > #tituloModal {

    position: absolute;
    bottom: 500px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.1);;
    padding: 10px;
    border-radius: 21px;
    
}

.videoContainer > #autor {

    position: absolute;
    left: 140px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.1);;
    padding: 10px;
    border-radius: 21px;

}

ion-content {

    --background: rgba(12, 12, 31, 100);

}

.videoContainer > #fecha {

    position: absolute;
    left: 1000px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.1);;
    padding: 10px;
    border-radius: 21px;

}

#imagenMostrado {

    width: 78.4%;
    aspect-ratio: 1.73;

}

.iconoContainer {

    position: absolute;
    top: 10px;
    right: 10px;
    
}

.imagenContainer, .videoContainer {

    font-weight: bold;

}

.agregarMultimedia {

    display: flex;
    justify-content: center;
    align-items: center;

}

.botonAgregarMultimedia {

    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

input {

    display: none;

}

#videoGuardar {

    width: 100%;

}

ion-col, ion-grid, ion-card-content {

    padding-bottom: 0px;

}