<ion-content>

  <app-menu-galeria></app-menu-galeria>

  <p id="titulo">Galeria</p>

  <ion-card>
      <ion-card-content>
          <ion-row>
              <ion-col size="3">
                <ion-searchbar placeholder="Busqueda" (ionInput)="handleInput($event)"></ion-searchbar>
              </ion-col>
              <ion-col size="3">
                  <ion-select label="Tema" label-placement="floating" fill="solid">
                    <ion-select-option *ngFor="let tema of temas" [value]="tema">{{tema}}</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col size="3">
                  <ion-select label="Tipo" label-placement="floating" fill="solid">
                    <ion-select-option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col offset="2">
                    <ion-button>
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
              </ion-col>
          </ion-row>
          <ion-list>
              <ion-item>
                  <ion-grid>
                      <ion-row>
                          <ion-col (click)="irImagen('uno')">
                              <img alt="Imagen1" src="https://ionicframework.com/docs/img/demos/avatar.svg">
                          </ion-col>
                          <ion-col>
                              <img alt="Imagen2" src="https://ionicframework.com/docs/img/demos/avatar.svg">
                          </ion-col>
                          <ion-col>
                              <img alt="Imagen3" src="https://ionicframework.com/docs/img/demos/avatar.svg">
                          </ion-col>
                          <ion-col>
                              <img alt="Imagen4" src="https://ionicframework.com/docs/img/demos/avatar.svg">
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>

</ion-content>