.imagenProyectada {

    position: relative;
    display:grid;
    justify-content: center;
    top: 20px;
    height: 464px;

}

#fecha {

    position: relative;
    bottom: 90px;
    left: 1210px;

}

#autor {

    position: relative;
    bottom: 40px;
    left: 5px;

}

.imagenProyectada > img {

    position: relative;
    width: 1300px;
    height: 445px;

}