<ion-content>

    <app-menu-constelaciones></app-menu-constelaciones>

    <p id="titulo">Constelaciones</p>

    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col size="4">
                    <ion-searchbar placeholder="Busqueda" (ionInput)="handleInput($event)"></ion-searchbar>
                </ion-col>
            </ion-row>
            <ion-list>
                <ion-item>
                    <ion-grid>
                        <ion-row *ngFor="let resultado of resultados" (click)="irConstelacion(resultado.nombre)">
                            <ion-col size="1">
                                <ion-avatar>
                                    <img alt={{resultado.nombre}} [src]="'../../../assets/Texturas/' + resultado.nombre + '.jpg'"/>
                                </ion-avatar>
                            </ion-col>
                            <ion-col>
                                <p id="nombreConstelacion">{{resultado.nombre}}</p><br>
                                <p id="resumenConstelacion">{{resultado.resumen}}</p>
                            </ion-col>
                            <hr id="lineaHorizontal">
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>
