#titulo {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

#nombreConstelacion {

    font-weight: bold;
    font-size: 25px;

}

#resumenConstelacion {

    font-size: 16px;

}

#lineaHorizontal {

    position: relative;
    width: 1300px;
    display: inline-block;
    background-color: rgb(182, 182, 182);

}

ion-avatar {

    width: 90px;
    height: 90px;

}

ion-content {

    --background: rgba(12, 12, 31, 100);

}

ion-grid {

    width: 100%;

}