#lineaHorizontal {

    position: relative;
    bottom: 20px;
    left: 80px;
    width: 1250px;
    display: inline-block;
    background-color: rgb(182, 182, 182);

}

#titulo {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

ion-card {

    margin: 0px;

}