#titulo {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

#tema, #nombre, #fecha {

    font-weight: bold;
    
}

ion-avatar {

    width: 150px;
    height: 150px;

}


#nombre {

    font-size: 22px;
    
}

#tema, #autor, #descripcion {

    font-size: 16px;
    
}

#descripcion {
    
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;

}

ion-textarea {

    height: 270px;
    margin-bottom: 10px;

}

.agregarMultimedia {

    display: flex;
    justify-content: center;
    align-items: center;

}

input {

    display: none;

}

#lineaHorizontal {

    position: relative;
    width: 1300px;
    display: inline-block;
    background-color: rgb(182, 182, 182);
    
}

#fechaHoy {

    position: absolute;
    font-size: medium;
    font-weight: bold;

}

#imagenEvento {

    display: block;
    margin: auto;

}

#tituloEvento {

    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;

}

.informacion {

    position: relative;
    font-size: large;
    text-align: justify;

}

ion-content {

    --background:rgba(12, 12, 31, 100);

}

.opciones {

    text-align: center;
    display: grid;
    align-content: center;
    align-items: start;

}

.opciones > div {

    display: grid;
    align-content: center;
    align-items: start;

}