<ion-content>
    
    <app-menu-calendario></app-menu-calendario>
    
    <p id="titulo">Calendario de Eventos</p>
    
    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col size="4">
                    <ion-button>Esta Semana</ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button>Esta Mes</ion-button>
                </ion-col>
                <ion-col offset="3">
                    <ion-button>Hoy</ion-button>
                </ion-col>
            </ion-row>
            <ion-list>
                <ion-item>
                    <ion-grid>
                        <ion-row *ngFor="let evento of eventos" id="mostrarEvento" (click)="abrirEvento(evento)">
                            <ion-col size="1.5">
                                <ion-avatar>
                                    <img alt="evento.titulo" [src]="evento.foto"/>
                                </ion-avatar>
                            </ion-col>
                            <ion-col>
                                <p id="nombre">{{evento.titulo}}</p><br>
                                <ion-row>
                                    <ion-col size="4">
                                        <p id="tema">{{evento.tema}}</p>
                                    </ion-col>
                                    <ion-col size="2">
                                        <p id="fecha">{{evento.fecha}}</p>
                                    </ion-col>
                                </ion-row><br>
                                <p id="descripcion">{{resumen(evento.informacion)}}</p>
                            </ion-col>
                            <hr id="lineaHorizontal">
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-modal trigger="mostrarEvento" [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Cerrar</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <p id="tituloEvento">{{eventoMostrar.titulo}}</p>
            <img [src]="eventoMostrar.foto" id="imagenEvento">
            <ion-row>
                <ion-col size="3">
                    <p id="fecha">{{eventoMostrar.fecha}}</p>
                </ion-col>
                <ion-col size="3">
                    <p id="tema">{{eventoMostrar.tema}}</p>
                </ion-col>
            </ion-row>
            <div class="informacion">
                <p [innerHTML]="eventoMostrar.informacion"></p>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>

</ion-content>