<ion-content>

  <p id="nombrePlaneta">TIERRA</p>
  
  <app-planeta-component id="planeta"></app-planeta-component>
  
  <ion-card id="informacionPlaneta">
    <ion-card-content>
      <ion-grid class="datos">
        <ion-row>
          <ion-col>
            <p>Diametro</p>
          </ion-col>
          <ion-col>
            <p>Km</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <p>Masa</p>
          </ion-col>
          <ion-col>
            <p>Kg</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p>Distancia al Sol</p>
          </ion-col>
          <ion-col>
            <p>Km</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <p>Atmosfera</p>
          </ion-col>
          <ion-col>
            <p>Compuestos</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <p>Lunas</p>
          </ion-col>
          <ion-col>
            <p>Nombre luna 1</p>
          </ion-col>
          <ion-col>
            <p>Nombre luna 2</p>
          </ion-col>
          <ion-col>
            <p>Nombre luna 3</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <p>Exploraciones</p>
        </ion-row>
        <ion-row>
          <p>Dato Exploracion 1</p>
        </ion-row>
        <ion-row>
          <p>Dato Exploracion 2</p>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
