<ion-content>

  <app-menu-inicio></app-menu-inicio>

  <div class="presentacion">
    <div id="imagen">
      <img alt="Sistema Solar" src="../../../assets/Imagenes/SistemaSolar.png">
    </div>

    <div id="informacion">
      <p>
        Aqui puedes aprender<br>sobre el sistema solar y<br>las constelaciones
      </p>
      <ion-button (click)="irPagina('Sistema-Solar')">Sistema Solar</ion-button>
      <ion-button (click)="irPagina('Constelaciones')">Constelaciones</ion-button>
      <ion-button (click)="irPagina('Guias')">Guias</ion-button>
    </div>
  </div>

  <div class="presentacion">
    <div id="informacion">
      <p>
        Puedes visitar la Galeria
      </p>
      <ion-button (click)="irPagina('Galeria')">Galeria</ion-button>
    </div>

    <div id="imagen">
      <img alt="Galeria" src="../../../assets/Imagenes/Galeria.png">
    </div>
  </div>
  
  <div class="presentacion">
    <div id="imagen">
      <img alt="Articulos" src="../../../assets/Imagenes/Articulos.png">
    </div>

    <div id="informacion">
      <p>
        Mira los diferentes articulos sobre el<br>universo y la astronomia
      </p>
      <ion-button (click)="irPagina('Articulos')">Articulos</ion-button>
    </div>
  </div>

  <div class="presentacion">
    <div id="informacion">
      <p>
        Platica con otros que<br>tambien estan interesados<br>en este mundo
      </p>
      <ion-button (click)="irPagina('Foro')">Foro</ion-button>
    </div>

    <div id="imagen">
      <img alt="Foro" src="../../../assets/Imagenes/Foro.png">
    </div>
  </div>

  <div class="presentacion">
    <div id="imagen">
      <img alt="Noticias" src="../../../assets/Imagenes/Noticias.png">
    </div>

    <div id="informacion">
      <p>
        Enterate de las ultimas noticas y eventos
      </p>
      <ion-button (click)="irPagina('Noticias')">Noticias</ion-button>
      <ion-button (click)="irPagina('Calendario')">Calendario</ion-button>
    </div>
  </div>

</ion-content>
