#informacion {

  position: absolute;
  left: 570px;
  top: 236px;
  width: 750px;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

img {

  position: sticky;
  top: 80px;
  left: 20px;

}

#nombreConstelacion {

  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  top: 100px;

}