<ion-content>

  <div class="fondoLogIn">

    <ion-icon name="chevron-back-circle" (click)="regresarHome()" id="iconoAtras"></ion-icon>
    
    <p id="titulo">
      Sign Up
    </p>

    <ion-button class="google" expand="full" (click)="signUpGoogle()">
        <ion-icon name="logo-google" size="large" slot="start"></ion-icon>
        <p>Sign Up con Google</p>
    </ion-button>
    
    <ion-input type="email" [(ngModel)]="usuario.correo" label="Email" color="primary" label-placement="floating" fill="solid" id="email"></ion-input>

    <ion-input label="Usuario" [(ngModel)]="usuario.usuario" color="primary" label-placement="floating" fill="solid" id="usuario"></ion-input>

    <ion-input type="password" [(ngModel)]="contrasena" label="Contraseña" color="primary" label-placement="floating" fill="solid" id="contra"></ion-input>
    
    <div id="ingresar">
      <ion-button (click)="signUpCorreo()">Sign Up</ion-button>
    </div>
    
    <p id="noCuenta" (click)="irLogIn()">
      ¿Ya tienes una cuenta?
    </p>
  </div>

  <div class="logo">
    <img alt="a" src="../../../assets/icon/Logo.png">
  </div>

</ion-content>