ion-content {

  --ion-background-color: rgba(12, 12, 31, 100);

}

.google{

  position: relative;
  top: 100px;
  left: 25px;
  width: 490px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {

    top: 20px;
    position: absolute;
    display: block;
    text-align: center;
    width: -webkit-fill-available;
  
  }
  
  .logo > img {
  
    border-radius: 50%;
    width: 10%;
  
  }
  
  .fondoLogIn {
  
    background-color: black;
    color: white;
    position: relative;
    width: 40%;
    height: 83%;
    top: 10%;
    left: 30%;
    border-radius: 5%;
  
  }
  
  .fondoLogIn > #titulo {
  
    position: relative;
    top: 80px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
  
  }
  
  .fondoLogIn > :is(#ingresar, #noCuenta) {
  
    position: relative;
    top: 120px;
    font-size: medium;
    text-align: center;
  
  }
  
  .fondoLogIn > #ingresar > ion-button{
  
    width: 150px;
    height: 50px;
    --color: white;
    --background: rgba(194, 61, 121, 100);
    font-size: large;
    font-weight: bold;
  
  }
  
  .fondoLogIn > :is(ion-input, #olvidoContra) {
  
    position: relative;
    top: 100px;
    font-size: medium;
    left: 5%;
    width: 90%;
  
  }
  
  .fondoLogIn > ion-input {
  
    margin-top: 10px;
    color: black;
    --background:white;
  
  }
  
  #olvidoContra, #noCuenta {
  
    font-weight: bold;
  
  }

  #iconoAtras {

    position: absolute;
    font-size: xx-large;
    left: 5%;
    top: 20px;
    z-index: 1;

  }