<ion-content>

  <app-menu-sistema-solar-planeta></app-menu-sistema-solar-planeta>
  
  <app-planeta-component id="planeta"></app-planeta-component>

  <p id="nombrePlaneta">{{planetaTitulo}}</p>

  <div id="informacionPlaneta">
      <ion-grid class="datos">
        <ion-row>
          <ion-col size="2">
            <p id="diametro">Diametro</p>
          </ion-col>
          <ion-col>
            <p>{{planeta.diametro}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="2">
            <p id="masa">Masa</p>
          </ion-col>
          <ion-col>
            <p>{{planeta.masa}}</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="planeta.distancia != ''">
          <ion-col size="2">
            <p id="distancia">Distancia al Sol</p>
          </ion-col>
          <ion-col>
            <p>{{planeta.distancia}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="2">
            <p id="atmosfera">Atmosfera</p>
          </ion-col>
          <ion-col>
            <p>{{planeta.atmosfera}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="planeta.lunas > 0">
          <ion-col size="2">
            <p id="lunas">Lunas</p>
          </ion-col>
          <ion-col>
            <p>{{planeta.lunas}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col id="exploraciones">
            <p id="exploraciones">Exploraciones</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let exploracion of planeta.exploraciones">
          <ion-col>
            <p>{{exploracion}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

</ion-content>
