#nombrePlaneta {

  color: white;
  font-size: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 420px;
  text-align: center;
  margin: 0;

}

#informacionPlaneta {
  
  position: relative;
  right: 0;
  bottom: 30px;
  left: 20px;
  width: 1300px;
  height: 480px;
  background: rgba(255, 255, 255, 0.4);
  color: black;
  overflow-x: auto;

}

#planeta {

  position: sticky;
  top: 0;

}

#exploraciones, #masa, #diametro, #distancia, #lunas, #atmosfera {

  font-weight: bold;

}

p {

  font-size: 18px;

}