<ion-content>

  <app-menu-sistema-solar-planeta></app-menu-sistema-solar-planeta>
  
  <app-planeta-component id="planeta"></app-planeta-component>

  <p id="nombrePlaneta">{{planetaTitulo}}</p>

  <div id="informacionPlaneta">
      <ion-grid class="datos">
        <ion-row>
          <ion-col>
            <p>Diametro</p>
          </ion-col>
          <ion-col>
            <p>{{diametro}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <p>Masa</p>
          </ion-col>
          <ion-col>
            <p>{{masa}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p>Distancia al Sol</p>
          </ion-col>
          <ion-col>
            <p>{{distancia}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <p>Atmosfera</p>
          </ion-col>
          <ion-col>
            <p>{{atmosfera}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <p>Lunas</p>
          </ion-col>
          <ion-col>
            <p>{{lunas}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <p>Exploraciones</p>
        </ion-row>
        <ion-row *ngFor="let exploracion of exploraciones">
          <p>{{exploracion}}</p>
        </ion-row>
      </ion-grid>
  </div>

</ion-content>
