#nombrePlaneta {

  color: white;
  font-size: 50px;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 425px;
  text-align: center;
  margin: 0;

}

#informacionPlaneta {

  background: white;
  opacity: 40%;
  right: 0;
  left: 0;
  display: block;
  overflow: auto;
  position: sticky;
  color: black;

}

#planeta {

  position: sticky;
  top: 0;

}