#nombrePlaneta {

  color: white;
  font-size: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 420px;
  text-align: center;
  margin: 0;

}

ion-content {

  --background: rgba(12, 12, 31, 100);

}

#informacionPlaneta {
  
  position: relative;
    right: 0;
    bottom: 5%;
    left: 2%;
    width: 96%;
    height: 80%;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    overflow-y: auto;
    border-radius: 2%;

}

#planeta {

  position: sticky;
  top: 0;

}

#exploraciones, #masa, #diametro, #distancia, #lunas, #atmosfera {

  font-weight: bold;

}

p, li {

  font-size: 18px;

}

li {

  line-height: 2;

}