<ion-content>

  <app-menu-sistema-solar></app-menu-sistema-solar>

  <p id="titulo">Sistema Solar</p>

  <img alt="Sistema Solar" src="../../../assets/Imagenes/Sistema-Solar.jpg" id="SistemaSolar">

  <div id="Sol" (click)="irPlaneta('Sol')"></div>
  <div id="Mercurio" (click)="irPlaneta('Mercurio')"></div>
  <div id="Venus" (click)="irPlaneta('Venus')"></div>
  <div id="Tierra" (click)="irPlaneta('Tierra')"></div>
  <div id="Marte" (click)="irPlaneta('Marte')"></div>
  <div id="Jupiter" (click)="irPlaneta('Jupiter')"></div>
  <div id="Saturno" (click)="irPlaneta('Saturno')"></div>
  <div id="Urano"  (click)="irPlaneta('Urano')"></div>
  <div id="Neptuno"  (click)="irPlaneta('Neptuno')"></div>

</ion-content>
