<ion-content>

  <div class="fondoLogIn">
    
    <div (click)="regresarHome()">
      <ion-icon name="chevron-back-circle" id="iconoAtras"></ion-icon>
    </div>

    <p id="titulo">
      Log In
    </p>
    
    <ion-input label="Usuario o Email" color="primary" label-placement="floating" fill="solid" id="usuario"></ion-input>

    <ion-input type="password" label="Contraseña" color="primary" label-placement="floating" fill="solid" id="contra"></ion-input>
    
    <p id="olvidoContra">
      ¿Se te olvido la contraseña?
    </p>
    
    <div id="ingresar">
      <ion-button (click)="logIn()">Log In</ion-button>
    </div>
    
    <p id="noCuenta" (click)="irSignUp()">
      ¿No tienes una cuenta?
    </p>
  </div>

  <div class="logo">
    <img alt="a" src="../../../assets/icon/Logo.png">
  </div>

</ion-content>