#titulo {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

.opciones, .opcionAgregar {

    text-align: center;
    display: grid;
    align-content: center;
    align-items: start;

}

.opciones > div {

    display: grid;
    align-content: center;
    align-items: start;

}

#tema, #nombre, #fecha {

    font-weight: bold;
    
}

.agregarMultimedia {

    display: flex;
    justify-content: center;
    align-items: center;

}

input {

    display: none;

}

ion-avatar {

    width: 150px;
    height: 150px;

}

.botonAgregarMultimedia {

    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nombre {

    font-size: 22px;
    
}

#tema, #autor, #descripcion {

    font-size: 16px;
    
}

#descripcion {
    
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;

}

ion-content {

    --background: rgba(12, 12, 31, 100);

}

#lineaHorizontal {

    position: relative;
    width: 1300px;
    display: inline-block;
    background-color: rgb(182, 182, 182);

}