<ion-content>

  <app-menu-guias></app-menu-guias>

  <p id="titulo">Guias</p>

  <ion-card>
      <ion-card-content>
          <ion-row>
              <ion-col size="4">
                <ion-input placeholder="Busqueda" color="primary" fill="solid" id="busqueda"></ion-input>
              </ion-col>
          </ion-row>
          <ion-list>
              <ion-item>
                  <ion-grid>
                      <ion-row (click)="irGuia('uno')">
                          <ion-col size="2">
                              <ion-avatar>
                                  <img alt="Guia" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
                              </ion-avatar>
                          </ion-col>
                          <ion-col size="10">
                              <p id="nombreGuia">Titulo</p><br>
                              <p id="datosGuia">Descripcion</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>

</ion-content>