<ion-content>

  <div class="fondoLogIn">
    
    <p id="titulo">
      Log In
    </p>
    
    <ion-input label="Usuario o Email" label-placement="floating" fill="outline" id="usuario"></ion-input>

    <ion-input type="password" label="contraseña" label-placement="floating" fill="outline" id="contra"></ion-input>
    
    <p id="olvidoContra">
      ¿Se te olvido la contraseña?
    </p>
    
    <div id="ingresar">
      <ion-button>Log In</ion-button>
    </div>
    
    <p id="noCuenta">
      ¿No tienes una cuenta?
    </p>
  </div>

  <div class="logo">
    <img alt="a" src="https://ionicframework.com/docs/img/demos/avatar.svg">
  </div>

</ion-content>