#titulo {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

#tema, #nombre, #autor, #fecha {

    font-weight: bold;
    
}

ion-content {

    --background: rgba(12, 12, 31, 100);

}

.opciones, .opcionAgregar {

    text-align: center;
    display: grid;
    align-content: center;
    align-items: start;

}

ion-textarea {

    height: 220px;
    margin-bottom: 10px;

}

.opciones > div {

    display: grid;
    align-content: center;
    align-items: start;

}

#crearPublicacion {

    position: absolute;
    bottom: 10px;
    left: 295px;
    width: 575px;
    transform: translateX(-50%);
    
}

#lineaHorizontalCrear {

    position: relative;
    width: 568px;
    display: inline-block;
    background-color: rgb(189, 186, 186);

}

#lineaHorizontal {

    position: relative;
    width: 1300px;
    display: inline-block;
    background-color: rgb(182, 182, 182);

}

#nombre {

    font-size: 22px;
    
}

#tema, #autor, #fecha, #descripcion {

    font-size: 16px;
    
}