#titulo {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

ion-card {

    margin: 0px;

}

#tema, #nombre, #autor, #fecha {

    font-weight: bold;
    
}


#nombre {

    font-size: 22px;
    
}

#tema, #autor, #fecha, #descripcion {

    font-size: 16px;
    
}