.articulo, .articuloRespuesta {

    position: relative;
    width: 1030px;
    left: 20px;
    background-color: white;
    color: black;
    padding-bottom: 5px;
    border-radius: 2%;

}

.articuloRespuesta {

    position: relative;
    bottom: 150px;
    left: 65px;

}

#lineaVerticalRespuesta {

    position: relative;
    background-color: white;
    transform: rotate(50%);
    width: 1px;
    height: 59px;
    bottom: 20px;
    left: 95px;
    
}

#botonResponder {

    position: sticky;
    bottom: 30px;
    left: 35px;

}

#titulo {

    position: relative;
    top: 20px;
    text-align: justify;
    left: 20px;
    font-size: xx-large;
    font-weight: bold;

}

.datos {

    position: relative;
    left: 10px;
    font-weight: 700;
    font-size: medium;
    text-align: left;

}

.informacion {

    position: relative;
    left: 10px;
    font-size: large;
    text-align: justify;
    width: 990px;

}

ion-content {

    --background: rgba(12, 12, 31, 100);

}

#lineaVertical {

    position: relative;
    background-color: white;
    transform: rotate(50%);
    width: 1px;
    height: 170px;
    bottom: 20px;
    left: 95px;

}

#iconoAtras {

    position: sticky;
    font-size: xx-large;
    left: 1%;
    top: 160px;
    z-index: 1;

}

#nuevaRespuesta {

    position: absolute;
    bottom: 10px;
    left: 295px;
    width: 575px;
    transform: translateX(-50%);
    
}

#lineaHorizontal {

    position: relative;
    width: 555px;
    display: inline-block;
    background-color: rgb(189, 186, 186);

}

.respuestas {

    position: relative;
    height: 190px;

}