<ion-content>
  <app-menu-articulos></app-menu-articulos>

  <p id="titulo">Articulos</p>

  <ion-card>
      <ion-card-content>
          <ion-row>
              <ion-col size="4" class="opciones">
                <div>
                    <ion-searchbar placeholder="Busqueda" (ionInput)="handleInput($event)"></ion-searchbar>
                </div>
              </ion-col>
              <ion-col size="4" class="opciones">
                  <div>
                      <ion-select label="Tema" label-placement="floating" fill="outline" (ionChange)="handleSelect($event)">
                        <ion-select-option [value]="tema" *ngFor="let tema of temas">{{tema}}</ion-select-option>
                      </ion-select>
                  </div>
              </ion-col>
              <ion-col offset="3" class="opcionAgregar">
                <div>
                    <ion-button *ngIf="usuario.veridico">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                </div>
              </ion-col>
          </ion-row>
          <ion-list>
              <ion-item>
                  <ion-grid>
                      <ion-row *ngFor="let resultado of resultados" (click)="irArticulo(resultado.uid)">
                          <ion-col size="1.5">
                              <ion-avatar>
                                  <img alt="Articulo" [src]="resultado.foto"/>
                              </ion-avatar>
                          </ion-col>
                          <ion-col>
                              <p id="nombre">{{resultado.titulo}}</p><br>
                              <ion-row>
                                  <ion-col size="6">
                                      <p id="autor">{{resultado.autor}}</p>
                                  </ion-col>
                                  <ion-col size="4">
                                      <p id="tema">{{resultado.tema}}</p>
                                  </ion-col>
                                  <ion-col size="2">
                                      <p id="fecha">{{resultado.fecha}}</p>
                                  </ion-col>
                              </ion-row><br>
                              <p id="descripcion">{{resumen(resultado.informacion)}}</p>
                          </ion-col>
                          <hr id="lineaHorizontal">
                      </ion-row>
                  </ion-grid>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>

</ion-content>