#informacion {

  position: absolute;
  left: 570px;
  width: 750px;
  height: 520px;
  top: 220px;
  text-align: justify;
  overflow-x: auto;
  background: rgba(255, 255, 255, 0.4);
  color: black;
  border-radius: 3%;

}

img {

  position: sticky;
  left: 20px;
  width: 500px;
  height: 520px;
  top: 60px;
  margin-bottom: 15px;

}

#nombreConstelacion {

  position: relative;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  bottom: 0px;
  margin: 20px;

}

#estrellas, #estrellaPrincipal, #simbolismo, #visibilidad, #ascension {

  font-weight: bold;

}

p {

  font-size: 18px;

}