<ion-content>

  <app-menu-articulos-articulo></app-menu-articulos-articulo>

  <div class="articulo">

    <p id="titulo">Titulo</p>

    <img alt="imagen del Articulo" src="https://ionicframework.com/docs/img/demos/avatar.svg">

    <ion-row class="datos">
      <ion-col id="autor" size="3">
        Autor
      </ion-col>
      <ion-col id="fecha" size="3">
        Fecha
      </ion-col>
    </ion-row>

    <div class="informacion">
      <p>Informacion</p>
    </div>

  </div>

</ion-content>