<ion-content>

  <app-menu-articulos-articulo></app-menu-articulos-articulo>

  <div class="articulo">

    <ion-icon name="chevron-back-circle" (click)="irAtras()" id="iconoAtras"></ion-icon>

    <p id="titulo">{{articulo.titulo}}</p>

    <img alt="imagen del Articulo" [src]="articulo.foto">

    <ion-row class="datos">
      <ion-col id="autor" size="5">
        {{articulo.autor}}
      </ion-col>
      <ion-col id="fecha" size="5">
        {{articulo.fecha}}
      </ion-col>
    </ion-row>

    <div class="informacion">
      <p [innerHTML]="articulo.informacion"></p>
    </div>

  </div>

</ion-content>