#informacion {

    position: absolute;
    left: 570px;
    width: 750px;
    height: 455px;
    top: 150px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    color: black;
    border-radius: 5%;
  
  }

#imagen {

  position: relative;
  left: 20px;
  top: 15px;

}

#listaIntereses {
  
  display: none;
  
}

img {
  
  position: relative;
  left: 20px;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  
}

ion-avatar {

  position: sticky;
  top: 0px;

}

#lineaHorizontal {

  position: relative;
  width: 720px;
  display: inline-block;
  background-color: rgb(189, 186, 186);

}

#cambioImagen{

  position: relative;
  --border-radius: 50%;
  height: 50px;
  width: 50px;
  bottom: 10px;

}

#guardar {

  position: fixed;
  bottom: 10px;
  left: 162px;
  --background: green;
  
}

ion-content {

  --background: rgba(12, 12, 31, 100);

}

input {

  display: none;

}

ion-input {

  --border-color: black;

}

#Cuenta, #informacionPersonal, #intereses {

  font-size: x-large;
  font-weight: bold;

}

#campo {

  font-weight: bold;

}