<ion-content>

  <app-menu-perfil></app-menu-perfil>

      <div id="imagen">
        <img alt="usuario.usuario" [src]="usuario.foto" *ngIf="usuario.foto != ''">
        <img alt="usuario.usuario" src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="usuario.foto == ''">

        <ion-button id="cambioImagen">
          <label for="subirImagen">
            <ion-icon name="sync-outline" size="large"></ion-icon>
          </label>
          <input (change)="cambiarImagen($event)" type="file" accept="image/*" id="subirImagen">
        </ion-button>
      </div>
  
      <div id="informacion">

        <ion-grid>
          <ion-row>
            <ul id="informacionPersonal"><li>INFORMACION PERSONAL</li></ul>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p id="campo">Nombre:</p>      
            </ion-col>
            <ion-col size="10">
              <ion-input fill="outline" [(ngModel)]="usuario.nombre" (change)="botonGuardar = true"></ion-input>      
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p id="campo">Apellido:</p>    
            </ion-col>
            <ion-col size="10">
              <ion-input fill="outline" [(ngModel)]="usuario.apellido" (change)="botonGuardar = true"></ion-input>      
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p id="campo">Profesion:</p>    
            </ion-col>
            <ion-col size="10">
              <ion-select label-placement="floating" fill="outline" [(ngModel)]="usuario.profesion" (ionChange)="botonGuardar = true">
                <ion-select-option [value]="profesion" *ngFor="let profesion of profesiones">{{profesion}}</ion-select-option>
              </ion-select>    
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p id="campo">Pais:</p>    
            </ion-col>
            <ion-col size="10">
              <ion-select label-placement="floating" fill="outline" [(ngModel)]="usuario.pais" (ionChange)="botonGuardar = true">
                <ion-select-option [value]="pais" *ngFor="let pais of paises">{{pais}}</ion-select-option>
              </ion-select>   
            </ion-col>
          </ion-row>
          <hr id="lineaHorizontal">
          <ion-row>
            <ul id="intereses"><li>INTERESES</li></ul>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-button (click)="mostrarIntereses()"><ion-icon name="add-outline"></ion-icon></ion-button>
                  <ion-select [(ngModel)]="usuario.intereses" [multiple]="true" #listaIntereses id="listaIntereses" (ionChange)="botonGuardar = true">
                    <ion-select-option [value]="interes" *ngFor="let interes of intereses">{{interes}}</ion-select-option>
                  </ion-select>
            </ion-col>
            <ion-col size="2" *ngFor="let interes of usuario.intereses">
              <ion-icon name="star-outline" *ngIf="interes == 'Estrellas'"></ion-icon>
              <ion-icon name="sparkles-outline" *ngIf="interes == 'Constelaciones'"></ion-icon>
              <ion-icon name="planet-outline" *ngIf="interes == 'Planetas'"></ion-icon>
              <ion-icon name="telescope-outline" *ngIf="interes == 'Telescopio'"></ion-icon>
              <ion-icon name="rocket-outline" *ngIf="interes == 'Exploraciones'"></ion-icon>
              <p>{{interes}}</p>
            </ion-col>
          </ion-row>
          <hr id="lineaHorizontal">
          <ion-row>
            <ul id="Cuenta"><li>CUENTA</li></ul>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p id="campo">Usuario:</p>
            </ion-col>
            <ion-col size="10">
              <ion-input fill="outline" [(ngModel)]="usuario.usuario" readonly></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p id="campo">Correo Electronico:</p>
            </ion-col>
            <ion-col size="10">
              <ion-input fill="outline" [(ngModel)]="usuario.correo" readonly></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-text-center">
              <ion-button color="warning" (click)="enviarCorreo()">
                Cambiar Contraseña
              </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-button color="danger" (click)="eliminarCuenta()">
                Eliminar Cuenta
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-button (click)="admin()">
                  Admin
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </div>

      <ion-button (click)="guardarCambios()" id="guardar" *ngIf="botonGuardar">Guardar Cambios</ion-button>

</ion-content>