<ion-content>

  <app-menu-perfil></app-menu-perfil>

    <div class="constelacion">

      <img alt="Constelacion" src="https://ionicframework.com/docs/img/demos/avatar.svg">
  
      <div id="informacion">

        <ion-grid>
          <ion-row>
            <p>Informacion Personal</p>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p>Nombre:</p>      
            </ion-col>
            <ion-col size="10">
              <ion-input></ion-input>      
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p>Apellido:</p>    
            </ion-col>
            <ion-col size="10">
              <ion-input></ion-input>      
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p>Profesion:</p>    
            </ion-col>
            <ion-col size="10">
              <ion-input></ion-input>      
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p>Pais:</p>    
            </ion-col>
            <ion-col size="10">
              <ion-input></ion-input>      
            </ion-col>
          </ion-row>
          <ion-row>
            <p>Intereses</p>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-button><ion-icon name="add-outline"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="2.5">
              <ion-icon name="star-outline"></ion-icon><p>Estrellas</p>
            </ion-col>
            <ion-col size="2.5">
              <ion-icon name="planet-outline"></ion-icon><p>Planetas</p>
            </ion-col>
            <ion-col size="2.5">
              <ion-icon name="sparkles-outline"></ion-icon><p>Constelaciones</p>
            </ion-col>
            <ion-col size="2.5">
              <ion-icon name="telescope-outline"></ion-icon><p>Telescopio</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <p>Cuenta</p>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <p>Correo Electronico</p>
            </ion-col>
            <ion-col size="10">
              <ion-input></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>

    </div>

</ion-content>