<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img alt="Flovers Planet" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </ion-avatar>
    <p>FLOVERS PLANET</p>
    <ion-button slot="end" routerLink="LogIn">Log In</ion-button>
    <ion-button slot="end" routerLink="SignUp">Sign Up</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img alt="Fondo" src="https://ionicframework.com/docs/img/demos/avatar.svg" id="fondo">

  <div class="presentacion">
    <div id="informacion">
      <p>
        ¡DESCUBRE EL UNIVERSO<br>
        CON FLOVERS PLANET!
      </p>
      <ion-button routerLink="SignUp">Iniciar</ion-button>
    </div>

    <div id="imagen">
      <img alt="Universo" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </div>
  </div>

</ion-content>