<ion-content>

  <app-menu-component></app-menu-component>

  <div class="presentacion">
    <div id="imagen">
      <img alt="Sistema Solar" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </div>

    <div id="informacion">
      <p>
        Aqui puedes aprender<br>sobre el sistema solar y<br>las constelaciones
      </p>
      <ion-button (click)="irSistemaSolar()">Sistema Solar</ion-button>
      <ion-button>Constelaciones</ion-button>
      <ion-button>Guias</ion-button>
    </div>
  </div>

  <div class="presentacion">
    <div id="informacion">
      <p>
        Puedes visitar la Galeria
      </p>
      <ion-button>Galeria</ion-button>
    </div>

    <div id="imagen">
      <img alt="Galeria" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </div>
  </div>
  
  <div class="presentacion">
    <div id="imagen">
      <img alt="Articulos" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </div>

    <div id="informacion">
      <p>
        Mira los diferentes articulos sobre el<br>universo y la astronomia
      </p>
      <ion-button>Articulos</ion-button>
    </div>
  </div>

  <div class="presentacion">
    <div id="informacion">
      <p>
        Platica con otros que<br>tambien estan interesados<br>en este mundo
      </p>
      <ion-button>Foro</ion-button>
    </div>

    <div id="imagen">
      <img alt="Foro" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </div>
  </div>

  <div class="presentacion">
    <div id="imagen">
      <img alt="Calendario" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </div>

    <div id="informacion">
      <p>
        Enterate de las ultimas noticas y eventos
      </p>
      <ion-button>Noticas</ion-button>
      <ion-button>Calendario</ion-button>
    </div>
  </div>

</ion-content>
